{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} Acteur{% endblock %}

{% block body %}

	<div id="container">
		<div class="row">
		<div class="col-md-12">
			<h2>Filmographie de : <em>{{ actor.name }}</em></h2>
			<ul id="actorImages" class="list-unstyled list-inline text-center">
				{% for image in images.profiles %}
				    {% set imgActor = 'http://image.tmdb.org/t/p/original' %}
					{% set poster = imgActor ~ image.file_path %}
					{% if image.file_path is null %}
						{% set poster = 'http://www.ovrtur.com/reference/img/content/no_poster.png' %}
					{% endif %}

					<li><img src="{{ poster }}" alt="" width="150" height="225" /></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<br>
	<hr>
	<br>

	<ul id="movieList" class="list-unstyled list-inline text-center">
		{% for movie in movies.cast %}
			{% set imgtmdb = 'http://image.tmdb.org/t/p/original' %}
			{% set poster = imgtmdb ~ movie.poster_path %}
			{% if movie.poster_path is null %}
				{% set poster = 'http://www.ovrtur.com/reference/img/content/no_poster.png' %}
			{% endif %}
			<li>
				<a href="{{ path('movie', { 'id': movie.id}) }}">
					<p class="text-center">{{ movie.title }}</p>
					<img src="{{ poster }}" alt="" width="150" height="225" />
				</a>
			</li>
		{% endfor %}
	</ul>
	</div>
{% endblock %}